!DOCTYPE html>
<html>
<head>
    <title>Restablece tu contraseña</title>
    <style>
        /* Tus estilos CSS aquí */
    </style>
</head>
<body>
    <p>Hola {{ user.username }},</p>
    <p>Hemos recibido una solicitud para restablecer tu contraseña. Si no fuiste tú quien solicitó este cambio, ignora este email.</p>
    <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer Contraseña</a>
    <p>Este enlace expirará en 24 horas.</p>
    <p>Saludos,</p>
    <p>El Equipo de {{ sitio_web }}</p>
</body>
</html>

<style>
    body {
        background-color: black;
        color: white;
    }
</style>